@import "tailwindcss";

/* Base Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Space Grotesk', sans-serif;
  --font-mono: var(--font-geist-mono);
}

/* Dark Mode Theme Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #403E2D;
    --foreground: #ededed;
  }
}

/* Reset Base Styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

/* Scrollbar Hidden Globally */
html {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari, Opera */
}

html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto; /* Only allow vertical scroll */
}
